.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.zain-regular-italic {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: italic;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: white;
}

body {
  background-image: url("https://wallpapers.com/images/hd/space-stars-background-3840-x-2160-vnbtbfcyr9pwvdkr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

h1 {
  font-family: "Henny Penny", system-ui;
  color: gold;
  font-size: 6rem;
  text-align: center;
  margin: 5rem 1rem 0 1rem;
}

h2 {
  font-family: "Zain", sans-serif;
  color: ghostwhite;
  font-size: 3rem;
  text-align: center;
}

p {
  font-family: "Zain", sans-serif;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem auto;
  max-width: 900px;
  padding: 0 1rem;
}
  
