.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.zain-regular-italic {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: italic;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: white;
}

body {
  background-color: #232946;
}

h1 {
  font-family: "Henny Penny", system-ui;
  color: gold;
  font-size: 90px;
  text-align: center;
}

h2 {
  font-family: "Zain", sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

p {
  font-family: "Zain", sans-serif;
  color: white;
  font-size: 20px;
}
  
