.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.zain-regular-italic {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: italic;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: white;
}

body {
  background-color: #232946;
}
